.user-input-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
}

form {
    display: flex;
    flex-direction: row;
    font: 1em 'Roboto-mono', monospace;
    font-weight: 500;
}

button {
    background-color: orange;
    border: none;
    color: white;
    border-radius: .5em;
    padding: 1em;
    font: 1em 'Roboto-mono', monospace;
    font-weight: 500;
}

button:hover {
    background-color: rgb(228, 149, 3);
}

.user-input-div > form > input {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid orange;
    margin-right: 2em;
    margin-left: 2em;
}

.user-input-div > form > input:focus {
    outline: none;
}