html, body, #root, .container {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: url('./images/background.jpeg');
    background-size: cover;
}